.vote-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: white;
}

.heading {
  color: black;
}

.candidates-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.candidate-card {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.candidate-card img.candidate-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.candidate-info {
  text-align: center;
}

.candidate-card h2 {
  margin-top: 0;
}

.candidate-card p {
  margin: 5px 0;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.checkbox-container .checkmark {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #eee;
  border: 2px solid #ccc;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
}

.checkbox-container input[type="checkbox"]:checked + .checkmark {
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
}

.checkbox-container input[type="checkbox"]:checked + .checkmark::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.vote-button {
  margin-top: 20px;
  padding: 10px 20px;
  background: linear-gradient(90deg, #4CAF50, #81c784);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: transform 0.3s, box-shadow 0.3s;
}

.vote-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
